

.slogan__cnt {
    position: absolute;
    font-size: 30px;
    line-height: 1.33;
    letter-spacing: 2.4px;
    color: #fff6f6;
    margin: 0;
    max-width: 250px;
    text-align: left;
    right: 52px;
    top: 92px;
}

@media screen and (min-width: 768px) {
    .slogan__cnt {
        font-size: 40px;
        line-height: 1;
        letter-spacing: 3.2px;
        max-width: 320px;
        right: 140px;
        top: 85px;
    }
}
@media screen and (min-width: 1028px) {
    .slogan__cnt {
        font-size: 50px;
        line-height: 1.3;
        letter-spacing: 3.6px;
        max-width: 600px;
        right: 128px;
        text-transform: uppercase;
        top: 21px;
        text-align: right;
    }
}